*{
    margin: 0px;
    padding: 0px;
}

body{
   background-color:#599C9F;
   text-align: center;
   box-sizing: border-box;
}

.game{
    height: 73vmin;
    width: 73vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;

}

.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 17px;
    border: none;
    box-shadow: 0 0 1rem rgb(23, 22, 22, 1.0);
    font-size: 8vmin;
    background-color: #B6E2D8;
    color:#3a261f;
}

.game button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{ 
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#text{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top:10px;
    font-size: 55px;
    font-family: sans-serif;
}

button{
    background-color: aquamarine;
    color: #3a261f;
    padding: 14px 30px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
}

#btn{
    background-color: aquamarine;
    color: #3a261f;
    padding: 14px 30px;
    font-size: 30px;
    border: none;
    border-radius: 20px;  
}

p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 27px;
    padding-top: 27px;
    font-size: 44px;
    color:white;
}

.msg{
    padding-bottom: 100px;
}

.hide{
    display: none;
}













